<configuration scan="false">
    <property name="logPattern" value="%-4relative [%thread] %-5level %logger{35} - %msg%n"/>
    <property name="logEncoding" value="UTF-8"/>
    <property name="logDirectory" value="../ad-automation-log"/>
    <property name="file_base_name" value="app"/>
    <property name="archive" value="archive"/>
    <timestamp key="current_date" datePattern="yyyy-MM-dd"/>
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDirectory}/${file_base_name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${logDirectory}/${archive}/${file_base_name}_%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${logEncoding}</charset>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework.web" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="fileAppender"/>
    </root>
</configuration>